{% extends 'layout.html' %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename = 'post.css') }}">
{% endblock %}

{% block body %}
    {% include 'frag/posts.html' %}

    <ul>
        {% for page in bar %}
            {% if page['page'] != current_page %}
                <li>
                    <a href="{{ page['url'] }}">{{ page['page'] }}</a>
                </li>
            {% else %}
                <li>
                    <p>{{ current_page }}</p>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
{% endblock %}
