{% extends 'layout.html' %}

{% block body %}
    <div style="display: flex; flex-wrap: wrap;">
        {% for post in posts %}
            <a href="{{ url_for('Post.view_page', post_id = post.id) }}">{{ post.name }}</a>
        {% endfor %}
    </div>

    <ul>
        {% for page in bar %}
            {% if page['page'] != current_page %}
                <li>
                    <a href="{{ page['url'] }}">{{ page['page'] }}</a>
                </li>
            {% else %}
                <li>
                    <p>{{ current_page }}</p>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
{% endblock %}
