{% extends 'layout.html' %}

{% set title = gettext('Comments') ~ ': ' ~ comments.items | length %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename = 'pagination.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'view.css') }}">
{% endblock %}

{% block body %}
    <form>
        <input name="search" type="text" placeholder="word word ...">
        <input type="submit" value="{{ gettext('Search') }}">
    </form>

    <p>{%- trans post_count = post_count -%}
        This page displays comments site-wide across all {{ post_count }} posts.
        {%- endtrans -%}</p>

    {% include 'frag/comment-section.html' %}
    {% include 'frag/pagination.html' %}
{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename = 'js/comment_voting.js') }}" type="module"></script>
{% endblock %}
