{% extends 'layout.html' %}

{% set title = gettext('Contact') %}

{% block body %}
    <div class="table-container">
        <p>{{ gettext('You can get in touch with me') }}</p>

        <table class="center-table">
            <tr>
                <th>{{ gettext('Means') }}</th>
                <th>{{ gettext('Value') }}</th>
            </tr>
            <tr>
                {% if brand['contact']['mail'] %}
                    <td>{{ gettext('E-mail') }}</td>
                    <td>
                        <a
                            href="mailto:{{ brand['contact']['mail'] }}">
                            {{ brand['contact']['mail'] }}
                        </a>
                    </td>
                {% endif %}
            </tr>

            {% for contact in brand['contact']['media'].items() %}
                <tr>
                    <td>{{ contact[0] }}</td>
                    <td>{{ contact[1] }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
