{% extends 'layout.html' %}

{% block body %}
    <form class="form" method="post">
        {{ form.hidden_tag() }}
        <label for="reason">Reason:</label>
        <textarea
        name="reason"
        placeholder="{{ gettext('Your reason for removal goes here...') }}"></textarea>

        <label for="perma">Permanently delete:</label>
        <input type="checkbox" name="perma">

        <input type="submit" value="{{ gettext('Remove') }}">
    </form>
{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename = 'js/textarea.js') }}"></script>
{% endblock %}
