{% extends 'layout.html' %}

{% set title = 'Edit Password' %}

{% block body %}
    <div class="center-container">
        <form class="form" method="post">
            {{ form.hidden_tag() }}

            <div class="input-group">
                <label for="pw">{{ gettext('Old Password') }}:</label>
                <input type="password" name="pw">
            </div>

            <div class="input-group">
                <label for="new_pw">{{ gettext('New Password') }}:</label>
                <input type="password" name="new_pw">
            </div>

            <div class="input-group">
                <label for="confirm_new_pw">{{ gettext('Confirm Password') }}:</label>
                <input type="password" name="confirm_new_pw">
            </div>

            <input type="submit" value="{{ gettext('Change') }}">
        </form>
    </div>
{% endblock %}
