{% extends 'layout.html' %}

{% set title = 'Edit Password' %}

{% block body %}
    <div class="center-container">
        <form class="form" method="post">
            {{ form.hidden_tag() }}

            <div class="input-group">
                <label for="pw">Old Password:</label>
                <input type="password" name="pw">
            </div>

            <div class="input-group">
                <label for="new_pw">New Password:</label>
                <input type="password" name="new_pw">
            </div>

            <div class="input-group">
                <label for="confirm_new_pw">Confirm Password:</label>
                <input type="password" name="confirm_new_pw">
            </div>

            <input type="submit" value="Change">
        </form>
    </div>
{% endblock %}
