{% extends 'layout.html' %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename = 'edit_profile.css') }}">
{% endblock %}

{% block body %}
    <div class="profile-container">
        <form class="profile-form" method="post">
            {{ form.hidden_tag() }}

            <div class="input-group">
                <label for="pw">Old Password:</label>
                <input type="password" name="pw">
            </div>

            <div class="input-group">
                <label for="new_pw">New Password:</label>
                <input type="password" name="new_pw">
            </div>

            <div class="input-group">
                <label for="confirm_new_pw">Confirm Password:</label>
                <input type="password" name="confirm_new_pw">
            </div>

            <input type="submit" value="Change">
        </form>
    </div>
{% endblock %}
