{% extends 'layout.html' %}

{% set title = 'Edit Tag: ' ~ tag.name %}

{% block body %}
    <div class="center-container">
        <form class="form" method="post">
            {{ form.hidden_tag() }}

            <div class="input-group">
                <label for="name">Name:</label>
                <input type="text" name="name" value="{{ tag.name }}">
            </div>

            <div class="input-group">
                <label for="type">Type:</label>
                <select name="type">
                    {% for tag_type in tag_types %}
                        <option value="{{ tag_type }}" {% if tag_type == tag.type %}selected{% endif %}>{{ tag_type | title }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="input-group">
                <label for="desc">Description:</label>
                <textarea name="desc">{% if tag.desc is not none %}{{ tag.desc }}{% endif %}</textarea>
            </div>

            <div class="input-group">
                <label for="deleted">Delete:</label>
                <input type="checkbox" name="deleted">
            </div>

            <input type="submit" value="Update">
        </form>
    </div>
{% endblock %}
