{% extends 'layout.html' %}

{% set title = 'Edit Post: ' ~ post.id %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename = 'view.css') }}">
{% endblock %}

{% block body %}
    <div class="view-container">
        <form class="form form-lg" enctype="multipart/form-data" method="post">
            {{ form.hidden_tag() }}

            <div class="input-group">
                <label for="new_file" title="{{ gettext('Select this usually when you found a better quality file.') }}">{{ gettext('Replace with') }}:</label>
                <input type="file" name="new_file">
            </div>

            <div class="input-group">
                <label for="directory">{{ gettext('Directory') }}:</label>
                <input type="text" name="directory" value="{% if post.directory is not none %}{{ post.directory }}{% endif %}">
            </div>

            <div class="input-group">
                <label for="op">{{ gettext('Original Poster') }}:</label>
                <input type="text" name="op" value="{% if post.op is not none %}{{ post.op }}{% endif %}">

                {% if post.is_hyperlink(post.op) %}
                    <a href="{{ post.op }}">{{ gettext('Open') }}</a>
                {% endif %}
            </div>

            <div class="input-group">
                <label for="src">{{ gettext('Source') }}:</label>
                <input type="text" name="src" value="{% if post.src is not none %}{{ post.src }}{% endif %}">

                {% if post.is_hyperlink(post.src) %}
                    <a href="{{ post.src }}">{{ gettext('Open') }}</a>
                {% endif %}
            </div>

            <div class="input-group">
                <label for="caption">{{ gettext('Caption') }}:</label>
                <textarea name="caption">{% if post.caption is not none %}{{ post.caption }}{% endif %}</textarea>
            </div>

            <div class="input-group">
                <label for="tags">{{ gettext('Tags') }}:</label>
                <textarea name="tags">{% if post.tags is not none %}{{ post.tags | map(attribute = 'name') | join(' ') }}{% endif %}</textarea>
            </div>

            <div class="input-group">
                <label for="deleted">{{ gettext('Delete') }}:</label>
                <input type="checkbox" name="deleted">
            </div>

            <input type="submit" value="{{ gettext('Submit') }}">
        </form>

        {% include 'frag/content.html' %}
    </div>
{% endblock %}
