{% extends 'layout.html' %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename = 'edit_profile.css') }}">
{% endblock %}

{% block body %}
    <div class="profile-container">
        <form class="profile-form" enctype="multipart/form-data" method="post">
            {{ form.hidden_tag() }}

            <div class="input-group">
                <label for="avatar">Avatar:</label>
                <input type="file" name="avatar">
            </div>

            <div class="input-group">
                <label for="username">Username:</label>
                <input type="text" name="username" value="{{ user.name }}" disabled>
            </div>

            <div class="input-group">
                <label for="email">E-mail:</label>
                <input type="email" name="email" value="{% if user.mail is not none %}{{ user.mail }}{% endif %}">
            </div>

            <div class="input-group">
                <label for="pw">Password:</label>
                <input type="password" name="pw">
            </div>

            <a href="{{ url_for('Account.edit_password_page') }}">Edit Password</a>

            <input type="submit" value="Submit">
        </form>
    </div>
{% endblock %}
