{% extends 'layout.html' %}

{% block body %}
    <form method="post">
        {{ form.hidden_tag() }}

        <label for="username">Username:</label>
        <input type="text" name="username" value="{{ user.name }}" disabled>

        <label for="email">E-mail:</label>
        <input type="email" name="email" value="{% if user.mail is not none %}{{ user.mail }}{% endif %}">

        <label for="pw">Password:</label>
        <input type="password" name="pw">

        <a href="{{ url_for('Account.edit_password_page') }}">Edit Password</a>

        <input type="submit" value="Submit">
    </form>
{% endblock %}
