{% extends 'layout.html' %}

{% set title = gettext('Index') %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename = 'index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'tag-editor.css') }}">
{% endblock %}

{% block body %}
    <div class="center-container">
        <img src="{{ url_for('static', filename = 'favicon.png') }}" width="300" height="300" alt="{{ gettext('Website logo') }}">

        <form id="search-form" class="form">
            <noscript>
                <input class="search-box" type="text" name="search" contenteditable="true" placeholder="tag1 tag2">
            </noscript>

            <div class="search-box hidden">
                {% include 'frag/tag.html' %}
            </div>

            <input class="search-btn" type="submit" value="{{ gettext('Search') }}">
        </form>

        <div class="digits">
            {% for digit in count %}
                <div class="digit">
                    {{ digit }}

                    {% for n in range(digit | int) %}
                        <div class="digit-bar"></div>
                    {% endfor %}
                </div>
            {% endfor %}

            <p class="digit">{{ gettext('Posts') }}</p>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename = 'js/index.js') }}" type="module"></script>
    <script src="{{ url_for('static', filename = 'js/show_tags.js') }}"></script>
    <script src="{{ url_for('static', filename = 'js/tag_handler.js') }}" type="module"></script>
{% endblock %}
