{% extends 'layout.html' %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename = 'index.css') }}">
{% endblock %}

{% block body %}
    <div class="index-container">
        <form method="post">
            <input class="search-box" type="text" name="search" placeholder="tag1 tag2">
            <input class="search-btn" type="submit" value="Search">
        </form>

        <div class="digits">
            {% for digit in count %}
                <div class="digit">
                    {{ digit }}

                    {% for n in range(digit | int) %}
                        <div class="digit-bar"></div>
                    {% endfor %}
                </div>
            {% endfor %}

            <p class="digit">Posts</p>
        </div>
    </div>
{% endblock %}
