{% extends 'layout.html' %}

{% set title = gettext('Index') %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename = 'index.css') }}">
{% endblock %}

{% block body %}
    <div class="center-container">
        <form method="post">
            {{ form.hidden_tag() }}

            <input class="search-box" type="text" name="search" placeholder="tag1 tag2">
            <input class="search-btn" type="submit" value="{{ gettext('Search') }}">
        </form>

        <div class="digits">
            {% for digit in count %}
                <div class="digit">
                    {{ digit }}

                    {% for n in range(digit | int) %}
                        <div class="digit-bar"></div>
                    {% endfor %}
                </div>
            {% endfor %}

            <p class="digit">{{ gettext('Posts') }}</p>
        </div>
    </div>
{% endblock %}
