<!DOCTYPE html>
<html lang="{{ g.lang_code }}">
    <head>
        {% if current_user %}
            <p hidden>
                <b>{{ gettext('DO NOT SHARE THIS WITH ANYONE') }}:</b>
                <span id="api-key">{{ current_user.api_key }}</span>
            </p>
        {% endif %}

        <meta charset="UTF-8">
        <meta name="description" content="{{ gettext('Ralph\'s kind of Booru') }}">
        <meta name="author" content="{{ brand['contact']['name'] }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <meta name="theme-color" content="#9532E6">
        {% block meta %}
        {% endblock %}

        <title>{{ title }}</title>

        <link rel="stylesheet" href="{{ url_for('static', filename = 'base.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename = 'form.css') }}">
        {% block style %}
        {% endblock %}
    </head>
    <body>
        {% include 'frag/nav.html' %}
        {% include 'frag/message.html' %}

        <div class="content-wrapper">
            {% block body %}
            {% endblock %}
        </div>

        {% include 'frag/footer.html' %}

        {% block script %}
        {% endblock %}
    </body>
</html>
