{% extends 'layout.html' %}

{% block body %}
    <div class="table-container">
        <table class="center-table">
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th></th>
                <th>Role</th>
                <th>E-mail</th>
                <th>Created</th>
            </tr>

            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.name }}</td>
                    <td><a class="no-select" href="{{ url_for('Manage User.manage_user_page', user_id = user.id) }}">Edit</a></td>
                    <td>{{ enum(user.role).name.title() }}</td>
                    <td>{{ user.mail }}</td>
                    <td>{{ user.created }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>

    {% include 'frag/pagination.html' %}
{% endblock %}
