{% extends 'layout.html' %}

{% set title = gettext('List Users') %}

{% block body %}
    <div class="table-container">
        <table class="center-table">
            <tr>
                <th>ID</th>
                <th>{{ gettext('Username') }}</th>
                <th></th>
                <th>{{ gettext('Role') }}</th>
                <th>{{ gettext('E-mail') }}</th>
                <th>{{ gettext('Created') }}</th>
            </tr>

            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.name }}</td>
                    <td>
                        {% if current_user.is_admin %}
                            <a class="no-select" href="{{ url_for('Root.Manage User.manage_user_page', user_id = user.id) }}">{{ gettext('Edit') }}</a>
                        {% endif %}
                    </td>
                    <td>{{ user.role_name }}</td>
                    <td>{% if user.mail %}{{ user.mail }}{% endif %}</td>
                    <td>{{ user.created }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>

    {% include 'frag/pagination.html' %}
{% endblock %}
