{% extends 'layout.html' %}

{% set title = gettext('Login') %}

{% block body %}
    <div class="center-container">
        <form class="form" method="post">
            {{ form.hidden_tag() }}

            <label for="username">{{ gettext('Username') }}:</label>
            <input type="text" name="username">

            <label for="pw">{{ gettext('Password') }}:</label>
            <input type="password" name="pw">

            <div class="input-group">
                <label for="remember">{{ gettext('Remember Me') }}:</label>
                <input type="checkbox" name="remember">
            </div>

            <input type="submit" name="submit" value="{{ gettext('Login') }}">
        </form>
    </div>
{% endblock %}
