{% extends 'layout.html' %}

{% block body %}
    <div class="center-container">
        <form class="form" method="post">
            {{ form.hidden_tag() }}

            <label for="username">Username:</label>
            <input type="text" name="username">

            <label for="pw">Password:</label>
            <input type="password" name="pw">

            <div class="input-group">
                <label for="remember">Remember Me:</label>
                <input type="checkbox" name="remember">
            </div>

            <input type="submit" name="submit" value="Login">
        </form>
    </div>
{% endblock %}
