{% extends 'layout.html' %}

{% block body %}
    <div class="center-container">
        <form class="form" method="post">
            {{ form.hidden_tag() }}

            <div class="input-group">
                <label for="username">Username:</label>
                <input type="text" name="username" value="{{ user.name }}">
            </div>

            <div class="input-group">
                <label for="role">Role</label>

                {% for subfield in form.role %}
                    <div class="input-group">
                        {{ subfield.label }}
                        {{ subfield }}
                    </div>
                {% endfor %}
            </div>

            <div class="input-group">
                <label for="email">E-mail:</label>
                <input type="email" name="email" value="{% if user.mail is not none %}{{ user.mail }}{% endif %}">
            </div>

            <div class="input-group">
                <label for="pw">New Password:</label>
                <input type="password" name="pw">
            </div>

            <input type="submit" name="submit" value="Change">
        </form>
    </div>
{% endblock %}
