<nav>
    <ul>
        <li><a href="{{ url_for('Index.index_page') }}">Ralphs Booru</a></li>
        <li><a href="{{ url_for('Index.index_page') }}">Index</a></li>
        <li><a href="{{ url_for('Post.browse_page') }}">Browse</a></li>

        {% if not current_user.is_authenticated %}
            <li><a href="{{ url_for('Account.login_page') }}">Login</a></li>
            <li><a href="{{ url_for('Account.signup_page') }}">Sign-Up</a></li>
        {% else %}
            <li><a href="{{ url_for('Post.upload_page') }}">Upload</a></li>    
            <li><a href="{{ url_for('Account.profile_page', user_id = current_user.id) }}">My Profile</a></li>
            <li><a href="{{ url_for('Account.logout_page') }}">Logout</a></li>
        {% endif %}
    </ul>
</nav>
