{% extends 'layout.html' %}

{% set title = user.username %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename = 'profile.css') }}">
{% endblock %}

{% block body %}
    <div class="basic-details">
        <img class="profile-picture" src="{{ user.avatar }}" alt="{{ user.name }}'s profile picture">

        <div>
            <p class="username">{{ user.username }}</p>
            {% if user.role is not none %}
                <p class="role">{{ user.role_name }}</p>
            {% endif %}
            <p>Level: {{ user.level }}</p>

            {% if current_user == user %}
                <a class="edit-btn" href="{{ url_for('Root.Account.edit_profile_page') }}">({{ gettext('Edit') }})</a>
            {% endif %}
        </div>
    </div>

    <div>
        <p>Posts: {{ user.posts | length }} <a href="{{ url_for('Root.Post.browse_paged', page = 1, terms = 'author_id:' + user.id | string) }}">(View all)</a></p>
        <p>Join Date: {{ user.created }}</p>
    </div>

    <div>
        <p>{{ user.name }}'s latest posts:</p>

        {% set container_name = 'post-prof-container' %}
        {% include 'frag/posts.html' %}
    </div>
{% endblock %}
