{% extends 'layout.html' %}

{% set title = 'Tags Page ' ~ current_page %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename = 'tag.css') }}">
{% endblock %}

{% block body %}
    <div class="table-container">
        <table class="center-table tag-table">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Count</th>
                <th></th>
                <th>Type</th>
                <th>Description</th>
            </tr>

            {% for tag in tags %}
                <tr>
                    <td>{{ tag.id }}</td>
                    <td><a href="{{ url_for('Root.Post.browse_paged', page = 1, terms = tag.name) }}">{{ tag.name }}</a></td>
                    <td>{{ tag.posts | length }}</td>
                    <td><a class="no-select" href="{{ url_for('Root.Tag.edit_page', tag_id = tag.id) }}">Edit</a></td>
                    <td>{{ tag.type }}</td>
                    {% if tag.desc %}
                        <td>{{ tag.desc }}</td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
    </div>

    {% include 'frag/pagination.html' %}
{% endblock %}
