{% extends 'layout.html' %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename = 'view.css') }}">
{% endblock %}

{% block body %}
    <div class="view-container">
        <form class="form" enctype="multipart/form-data" method="post">
            {{ form.hidden_tag() }}

            <div class="input-group">
                <label for="files">File(s):</label>
                <input type="file" name="files" accept=".gif, .jpg, .jpeg, .mp3, .mp4, .png, .webm, .webp" multiple required>
            </div>

            <div class="input-group">
                <label for="directory">Directory:</label>
                <input type="text" name="directory">
            </div>

            <div class="input-group">
                <label for="op">Original Poster:</label>
                <input type="text" name="op">
            </div>

            <div class="input-group">
                <label for="src">Source:</label>
                <input type="text" name="src">
            </div>

            <div class="input-group">
                <label for="caption">Caption:</label>
                <textarea name="caption"></textarea>
            </div>

            <div class="input-group">
                <label for="tags">Tags:</label>
                <textarea name="tags"></textarea>
            </div>

            <div class="input-group">
                <input type="submit" name="submit" value="Upload">
            </div>
        </form>
    </div>
{% endblock %}
