{% extends 'layout.html' %}

{% set title = gettext('Upload') %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename = 'tag_editor.css') }}">    
    <link rel="stylesheet" href="{{ url_for('static', filename = 'view.css') }}">
{% endblock %}

{% block body %}
    <div class="view-container">
        <form id="post-form" class="form" enctype="multipart/form-data" method="post">
            {{ form.hidden_tag() }}

            <div class="input-group">
                <label for="files">{{ gettext('File(s)') }}:</label>
                <input
                    type="file"
                    name="files"
                    accept=".gif, .jpg, .jpeg, .mp3, .mp4, .png, .webm, .webp"
                    multiple
                    required
                >
            </div>

            <div class="input-group">
                <label for="directory">{{ gettext('Directory') }}:</label>
                <input type="text" name="directory">
            </div>

            <div class="input-group">
                <label for="op">{{ gettext('Poster') }}:</label>
                <input type="text" name="op">
            </div>

            <div class="input-group">
                <label for="src">{{ gettext('Source') }}:</label>
                <input type="text" name="src">
            </div>

            <div class="input-group">
                <label for="caption">{{ gettext('Caption') }}:</label>
                <textarea name="caption"></textarea>
            </div>

            <div class="input-group">
                <label for="tags">{{ gettext('Tags') }}:</label>

                <noscript>
                    <textarea name="tags"></textarea>
                </noscript>

                {% include 'frag/tag.html' %}
            </div>

            <div class="input-group">
                <input type="submit" name="submit" value="{{ gettext('Upload') }}">
            </div>
        </form>
    </div>
{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename = 'js/show_tags.js') }}"></script>
    <script src="{{ url_for('static', filename = 'js/textarea.js') }}"></script>
    <script src="{{ url_for('static', filename = 'js/tag_handler.js') }}" type="module"></script>
    <script src="{{ url_for('static', filename = 'js/upload.js') }}"></script>
{% endblock %}
