{% extends 'layout.html' %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename = 'view.css') }}">
{% endblock %}

{% block body %}
    <div class="view-container">
        <div class="details">
            <a href="{{ url_for('Post.edit_page', post_id = post.id) }}">Edit</a>

            <div>
                <p class="notable">Tags:</p>
                <ul class="tag-list">
                    {% for tag in post.tags | sort(attribute='name') %}
                        <li>
                            <a href="{{ url_for('Post.browse_paged', page = 1, tags = tag.name) }}">{{ tag.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="post-details">
                <p class="notable">Statistics:</p>

                <p>ID: {{ post.id }}</p>
                <p>Posted: {{ post.created }}</p>
                <p>Uploader: <a href="{{ post.author.profile_url }}">{{ post.author.username }}</a></p>

                {% if post.width %}
                    <p>Size: {{ post.dimensions }}</p>
                {% endif %}

                {% if post.src %}
                    <p>Source: {{ post.src }}</p>
                {% endif %}

                {% if post.op %}
                    <p>OP: {{ post.op }}</p>
                {% endif %}

                <p>Name: {{ post.name }}</p>
                <p>Type: {{ post.mime }}</p>

                {% if post.caption is not none %}
                    <p class="caption">Caption: "<i>{{ post.caption }}</i>"</p>
                {% endif %}
            </div>
        </div>

        {% include 'content.html' %}
    </div>
{% endblock %}
