{% extends 'layout.html' %}

{% block body %}
    {% include 'content.html' %}

    <p>ID: {{ post.id }}</p>
    <p>Posted: {{ post.created }}</p>
    <p>Uploader: <a href="{{ post.author.profile_url }}">{{ post.author.username }}</a></p>

    {% if post.width %}
        <p>Size: {{ post.dimensions }}</p>
    {% endif %}

    {% if post.src %}
        <p>Source: {{ post.src }}</p>
    {% endif %}

    {% if post.op %}
        <p>OP: {{ post.op }}</p>
    {% endif %}

    <p>Name: {{ post.name }}</p>
    <p>Type: {{ post.mime }}</p>

    <label for="caption">Caption:</label>
    <textarea name="caption" readonly>{% if post.caption is not none %}{{ post.caption }}{% endif %}</textarea>

    <label for="tags">Tags:</label>
    <textarea name="tags" readonly>{{ post.tags | map(attribute = 'name') | join(' ') }}</textarea>

    <a href="{{ url_for('Post.edit_page', post_id = post.id) }}">Edit</a>
{% endblock %}
