{% extends 'layout.html' %}

{% block meta %}
    {% if post.caption %}
        {% set display_title = post.caption | truncate(60, True, '...') %}

        {% set title = display_title %}

        <meta property="og:title" content="{{ display_title | e }}">
        <meta name="twitter:title" content="{{ display_title | e }}">
    {% endif %}

    <meta property="og:type" content="article">
    <meta property="og:url" content="{{ request.url }}">

    {% if post.cat == 'image' %}
        <meta name="twitter:card" content="summary_large_image">
        <meta property="og:image" content="{{ post.view_uri }}">
        <meta name="twitter:image" content="{{ post.view_uri }}">

    {% elif post.cat == 'video' and post.size < 15728640 %}
        <meta name="twitter:card" content="player">
        
        <meta property="og:image" content="{{ post.thumbnail.view_uri }}">
        <meta name="twitter:image" content="{{ post.thumbnail.view_uri }}">

        <meta property="og:video" content="{{ post.view_uri }}">
        <meta property="og:video:type" content="{{ post.mime }}">
        <meta property="og:video:width" content="{{ post.width }}">
        <meta property="og:video:height" content="{{ post.height }}">

        <meta name="twitter:player" content="{{ post.view_uri }}">
        <meta name="twitter:player:width" content="{{ post.width }}">
        <meta name="twitter:player:height" content="{{ post.height }}">
        <meta name="twitter:player:stream" content="{{ post.view_uri }}">
        <meta name="twitter:player:stream:content_type" content="{{ post.mime }}">

    {% else %}
        <meta name="twitter:card" content="summary_large_image">
        <meta property="og:image" content="{{ post.thumbnail.view_uri }}">
        <meta name="twitter:image" content="{{ post.thumbnail.view_uri }}">
    {% endif %}
{% endblock %}

{% set title = 'View' ~ ': ' ~ post.id %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename = 'view.css') }}">
{% endblock %}

{% block body %}
    <div class="view-container">
        <div class="form form-lg gapped-form">
            <span id="post-id" class="hidden">{{ post.id }}</span>

            {%-
                if (current_user.is_authenticated and
                (current_user.has_permission('post:edit') or
                current_user.owns(post)))
            -%}
                <a
                    href="{{ url_for('Root.Post.edit_page', post_id = post.id) }}"
                >
                    {{ gettext('Edit') }}
                </a>
            {% endif %}

            {% include 'frag/enlarge.html' %}

            <div>
                <p>Score: {{ post.score }}</p>
                <a id="upvote-btn" href="">{{ gettext('Upvote') }}</a>
                <br>
                <a id="downvote-btn" href="">{{ gettext('Downvote') }}</a>
            </div>

            <div>
                <p class="notable">{{ gettext('Tags') }}:</p>
                <ul class="tag-list">
                    {% for tag in post.tags | sort(attribute='name') %}
                        <li>
                            <span>
                                <a
                                    href="{{ url_for('Root.Post.browse_paged', page = 1, search = tag.name) }}"
                                >
                                    {{ tag.name }}
                                </a>
                                <span class="no-select">{{ tag.count }}</span>
                            </span>
                        </li>
                    {% endfor %}
                </ul>
            </div>

            <a
                href="{{ url_for('Root.Tag.history_page', post_id = post.id) }}"
            >
                {{ gettext('Tag History') }}
            </a>

            <div class="post-details">
                <p class="notable">{{ gettext('Statistics') }}:</p>

                <p>ID: {{ post.id }}</p>
                <p>{{ gettext('Posted') }}: {{ post.created }}</p>
                <p>
                    {{ gettext('Uploader') }}:
                    <a
                        href="{{ post.author.profile_url }}"
                    >
                        {{ post.author.username }}
                    </a>
                </p>

                {% if post.width %}
                    <p>{{ gettext('Size') }}: {{ post.dimensions }}</p>
                {% endif %}

                {% if post.src %}
                    <p>{{ gettext('Source') }}: 
                        {% if post.is_hyperlink(post.src) %}
                            <a href="{{ post.src }}">{{ post.src }}</a>
                        {% else %}
                            {{ post.src }}
                        {% endif %}
                    </p>
                {% endif %}

                {% if post.op %}
                    <p>{{ gettext('Poster') }}: 
                        {% if post.is_hyperlink(post.op) %}
                            <a href="{{ post.op }}">{{ post.op }}</a>
                        {% else %}
                            {{ post.op }}
                        {% endif %}
                    </p>
                {% endif %}

                <p>{{ gettext('Name') }}: {{ post.name }}</p>
                <p>{{ gettext('Type') }}: {{ post.mime }}</p>
                <p>{{ gettext('Disk Size') }}: {{ post.disk_size }}</p>

                {% if post.caption is not none %}
                    <p class="caption">{{ gettext('Caption') }}: "<i>{{ post.caption }}</i>"</p>
                {% endif %}
            </div>
        </div>

        {% include 'frag/content.html' %}
    </div>

    {% set comments = post.comments %}
    {% block input_comment_section %}
        <form id="comment-form">
            <input type="hidden" name="post_id" value="{{ post.id }}">
            <textarea
                name="content"
                placeholder="{{ gettext('Your comment goes here.') }}"
            ></textarea>
            <button type="submit">{{ gettext('Comment') }}</button>
        </form>
    {% endblock %}
    {% include 'frag/comment-section.html' %}
{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename = 'js/comment.js') }}"></script>
    <script src="{{ url_for('static', filename = 'js/enlarge.js') }}"></script>
    <script src="{{ url_for('static', filename = 'js/textarea.js') }}"></script>
    <script src="{{ url_for('static', filename = 'js/voting.js') }}" type="module"></script>
{% endblock %}
