# Refer to ./config.py for understanding of variables.

AVATAR_PATH=avatars
CONTENT_PATH=/mnt/data/media-testing
DATABASE_URI=sqlite:///data.sqlite
TEMP_PATH=temp

ALLOW_POSTS=true
ALLOW_USERS=true
TARGET_SIZE=250

DEFAULT_LIMIT=20
DEFAULT_SORT=id
DEFAULT_SORT_DIR=desc
LIMIT_THRESHOLD=100

HARDNESS=5
MULTIPLIER=1
COMMENT_LEVEL=0
POSTING_LEVEL=0
TAGGING_LEVEL=2

NSFW_TAG=nsfw
SECRET_KEY=abc
SSL_ENABLED=false
SENSITIVE_DIRS=nsfw
