{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename = 'nav.css') }}">
{% endblock %}

<nav id="navbar">
    <ul id="navbar-anchors">
        <li><a class="navbar-anchor navbar-logo" href="{{ url_for('Index.index_page') }}">{{ brand['full_brand'] }}</a></li>
        <li><a class="navbar-anchor" href="{{ url_for('Index.index_page') }}">Index</a></li>
        <li><a class="navbar-anchor" href="{{ url_for('Post.browse_page') }}">Browse</a></li>
        <li><a class="navbar-anchor" href="{{ url_for('Tag.tag_page') }}">Tags</a></li>
        <li><a class="navbar-anchor" href="{{ url_for('Comment.comment_page') }}">Comments</a></li>

        {% if not current_user.is_authenticated %}
            <li><a class="navbar-anchor" href="{{ url_for('Account.login_page') }}">Login</a></li>
            <li><a class="navbar-anchor" href="{{ url_for('Account.signup_page') }}">Sign-Up</a></li>
        {% else %}
            {% if current_user.is_moderator %}
                <div id="special-anchors">
                    <a class="navbar-anchor" href="{{ url_for('Manage User.user_list_page') }}">Users</a>
                </div>
            {% endif %}

            <li><a class="navbar-anchor" href="{{ url_for('Post.upload_page') }}">Upload</a></li>    
            <li><a class="navbar-anchor" href="{{ url_for('Account.profile_page', user_id = current_user.id) }}">My Profile</a></li>
            <li><a class="navbar-anchor" href="{{ url_for('Account.logout_page') }}">Logout</a></li>
        {% endif %}
    </ul>

    <button id="menu-toggler">Menu</button>
</nav>

{% block script %}
    <script src="{{ url_for('static', filename = 'js/nav.js') }}"></script>
{% endblock %}
