{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename = 'post.css') }}">
{% endblock %}

<div class="posts">
    {% for post in posts %}
        <div>
            <a class="{{ container_name }} post-container" href="{{ url_for('Post.view_page', post_id = post.id) }}" data-post-id="{{ post.id }}">
                {% if post.thumbnail is not none %}
                    <img class="post-thumbnail {% if blur and post.nsfw %}post-blur{% endif %}" src="{{ url_for('Thumbnail.thumbnail_route', post_id = post.id) }}" alt="{{ post.id }} Thumbnail">
                {% endif %}

                <div class="post-flairs no-select">
                    {% if post.caption %}
                        <img class="flair" src="{{ url_for('static', filename = 'svg/caption.svg') }}" alt="Caption flair">
                    {% endif %}

                    {% if not post.op or not post.src %}
                        {% if post.op %}
                            <img class="flair" src="{{ url_for('static', filename = 'svg/pencil.svg') }}" alt="Original Poster flair">
                        {% endif %}

                        {% if post.src %}
                            <img class="flair" src="{{ url_for('static', filename = 'svg/globe.svg') }}" alt="Source flair">
                        {% endif %}
                    {% else %}
                        <img class="flair" src="{{ url_for('static', filename = 'svg/external.svg') }}" alt="Original Poster & Source flair">
                    {% endif %}

                    {% if post.cat == 'audio' %}
                        <img class="flair" src="{{ url_for('static', filename = 'svg/audio.svg') }}" alt="Audio flair">
                    {% elif post.cat == 'image' %}
                        <img class="flair" src="{{ url_for('static', filename = 'svg/image.svg') }}" alt="Image flair">
                    {% elif post.cat == 'video' %}
                        <img class="flair" src="{{ url_for('static', filename = 'svg/video.svg') }}" alt="Video flair">
                    {% endif %}
                </div>
            </a>
        </div>
    {% endfor %}
</div>
