{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename = 'post.css') }}">
{% endblock %}

<div class="posts">
    {% for post in posts %}
        <div>
            <a class="{{ container_name }} post-container" href="{{ url_for('Post.view_page', post_id = post.id) }}" data-post-id="{{ post.id }}">
                {% if post.thumbnail is not none %}
                    <img class="post-thumbnail {% if blur and post.nsfw %}post-blur{% endif %}" src="{{ url_for('Thumbnail.thumbnail_route', post_id = post.id) }}" alt="{{ post.id }} Thumbnail">
                {% else %}
                    <p>{{ post.name }}</p>
                {% endif %}
            </a>
        </div>
    {% endfor %}
</div>
