@import 'values.css';

* {
    margin: 0;
    padding: 0;

    font-family: var(--font);
    font-size: var(--font-size);

    user-select: none;
}

body {
    margin: 0;
    align-items: center;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    text-decoration: none;
}
