@import 'values.css';

* {
    font-family: Roboto;
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

a {
    color: var(--link-color);
}

.bg {
    background-color: var(--bg-color);
}

.center-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    width: 100%;
}

.input-group {
    align-items: center;
    display: flex;
    gap: 0.5em;
}

@media (max-width: 768px) {
    .input-group {
        align-items: flex-start;
        flex-direction: column;
        gap: 0;
    }

    .input-group * {
        width: 100%;
    }
}

.input-group input, textarea {
    flex-grow: 1;
    min-width: 0em;
}

.message {
    border-radius: 0.1em;
    background-color: var(--bg-color);
    padding: 0.5em;
}

#messages {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    margin: 0.5em;
}

.notable {
    font-weight: bold;
}

.no-select {
    user-select: none;
}
