@import 'values.css';

* {
    font-family: Roboto;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

a {
    color: var(--link-color);
}

.bg {
    background-color: var(--bg-color);
}

.input-group {
    align-items: center;
    display: flex;
    gap: 0.5em;
}

@media (max-width: 768px) {
    .input-group {
        align-items: flex-start;
        flex-direction: column;
        gap: 0;
    }

    .input-group * {
        width: 100%;
    }
}

.input-group input, textarea {
    flex-grow: 1;
    min-width: 0em;
}

.notable {
    font-weight: bold;
}

.no-select {
    user-select: none;
}
