.profile-container {
    /* align-items: center; */
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100%;
}

.profile-form {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    justify-content: center;
}
