@import 'values.css';

.footer-anchors {
    list-style-type: none;
}

.footer-content {
    display: flex;
}

.main-footer {
    align-items: center;
    color: white;
    display: flex;
    flex-direction: column;
    gap: var(--medium-gap);;
    justify-content: center;

    padding-bottom: var(--medium-gap);;
    padding-left: 25%;
    padding-right: 25%;
    padding-top: var(--medium-gap);;
}
