@import 'values.css';

.form {
    display: flex;
    flex-direction: column;
    font-size: clamp(0.75rem, 1.1vw, 2.5rem);
    gap: var(--small-gap);;
    width: 25em;
}

.form-lg {
    width: 100%;
}

.form * {
    font-size: inherit;
}

.gapped-form {
    gap: var(--medium-gap);
}

@media (max-width: 768px) {
    .form {
        order: 1;
    }
}
