@import 'values.css';

.digit {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 2.5rem;
    gap: 0.05em;
    height: 100%;
    justify-content: end;
}

.digit-bar {
    background-color: var(--bg-color);
    height: 0.5em;
    width: 1.5em;
}

.digits {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
    user-select: none;
}

.index-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    height: 100vh;
    justify-content: center;
}

.search-box, .search-btn {
    border: 0.1rem solid var(--bg-color);
    cursor: pointer;
    font-size: 1.5rem;
    padding: 1rem;
}

.search-btn {
    color: var(--bg-color);
}
