@import 'values.css';

.digit {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    gap: var(--smallest-gap);
    height: 100%;
    justify-content: end;
}

.digit-bar {
    background-color: var(--bg-color);
    height: var(--small-gap);
    width: 1.5rem;
}

.digits {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: var(--small-gap);
    user-select: none;
}

.search-box,
.search-btn {
    border: 0.1rem solid var(--bg-color);
    cursor: pointer;
    font-size: var(--larger-font-size);
    padding: var(--medium-gap);
}

.search-btn {
    color: var(--bg-color);
}
