@import 'values.css';

.navbar {
    background-color: var(--bg-color);
    user-select: none;
}

.navbar-anchor {
    color: #fff;
    display: block;
    font-size: 1em;
    padding: 1em;
}

.navbar-anchor:hover {
    color: var(--link-color);
}

.navbar-anchors {
    align-items: center;
    display: flex;
    list-style-type: none;
}

@media (max-width: 768px) {
    .navbar-anchor {
        padding: 0.5em;
    }

    .navbar-anchors {
        flex-direction: column;
    }
}

.navbar-logo {
    font-weight: bold;
}
