@import 'values.css';

.pagination-bar {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: var(--small-gap);
    justify-content: center;
    list-style-type: none;
}

.pagination-element {
    border: 1px solid black;
}

/* Without this, anchor elements won't have the same padding around them as paragraph. */
.pagination-element a {
    display: block;
}

.pagination-element a,
.pagination-element p {
    color: #000;
    padding: var(--small-gap);
}
