@import 'values.css';

.posts {
    display: flex;
    flex-wrap: wrap;
    gap: var(--small-gap);
    justify-content: center;
}

.post-blur {
    filter: blur(0.5em);
}

.post-blur:hover {
    filter: blur();
}

.post-container {
    align-items: center;
    border: 1px solid black;
    display: flex;
    height: 15rem;
    justify-content: center;
    overflow: hidden;
    width: 15rem;
    word-break: break-all;
}

@media (max-width: 600px) {
    .post-container {
        height: 7rem;
        width: 7rem;
    }
}

.post-thumbnail {
    height: 100%;
    object-fit: contain;
    width: 100%;
}
