@import 'values.css';

.flair {
    filter: brightness(0) invert(1);
    max-height: 1.5rem;
    max-height: 1.5rem;
}

.deselected {
    border: 1px solid red;
}

.selected {
    border: 1px solid green;
}

.posts {
    display: flex;
    flex-wrap: wrap;
    gap: var(--small-gap);
    justify-content: center;
}

.post-blur {
    filter: blur(0.5em);
}

.post-blur:hover {
    filter: blur();
}

.post-container {
    align-items: center;
    border: 1px solid black;
    box-sizing: border-box;
    display: inline-flex;
    height: 15rem;
    justify-content: center;
    overflow: hidden;
    position: relative;
    width: 15rem;
    word-break: break-all;
}

@media (max-width: 600px) {
    .post-container {
        height: 7rem;
        width: 7rem;
    }
}

.post-flairs {
    background-color: black;
    display: flex;
    gap: var(--smaller-gap);
    position: absolute;
    right: 0;
    top: 0;
}

.post-thumbnail {
    height: 100%;
    object-fit: contain;
    width: 100%;
}
