.posts {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.post-blur {
    filter: blur(0.5em);
}

.post-blur:hover {
    filter: blur();
}

.post-container {
    align-items: center;
    border: 1px solid black;
    display: flex;
    height: 15rem;
    justify-content: center;
    overflow: hidden;
    width: 15rem;
    word-break: break-all;
}

@media (max-width: 600px) {
    .post-container {
        height: 10rem;
        width: 10rem;
    }
}

.posts-container-wrapper {
    padding-bottom: 2rem;
    padding-top: 4rem;
}

.posts-container-mini-wrapper {
    padding: 1rem;
}

/* Sizing made for profile page. */
.post-prof-container {
    height: 10rem;
    width: 10rem;
}

.post-thumbnail {
    height: 100%;
    object-fit: contain;
    width: 100%;
}
