@import 'values.css';

.basic-details {
    align-items: center;
    display: flex;
    gap: var(--medium-gap);
}

.edit-btn {
    user-select: none;
}

.profile-picture {
    max-width: 15rem;
}

.username {
    font-size: 2rem;
}
