.caption {
    max-width: 50vw;
    white-space: pre-wrap;
}

.details {
    display: flex;
    flex-direction: column;
    font-size: clamp(1rem, 1.1vw, 2.5rem);
    gap: 1.5em;
    width: 50%;
}

.details * {
    font-size: inherit;
}

.post-details {
    display: flex;
    flex-direction: column;
    gap: 0.25em;
}

.tag-list {
    list-style-type: none;
}

.view-container {
    align-items: center;
    display: flex;
    gap: 5em;
    height: 100vh;
    justify-content: center;
    padding: 1em;
}

@media (max-width: 768px) {
    .details {
        font-size: 1rem;
        order: 1;
    }

    .view-container {
        flex-direction: column;
    }
}

.view-container audio, img, video {
    height: 100vh;
    overflow: hidden;
    object-fit: contain;
    width: 100vw;
}
