@import 'values.css';

.caption {
    max-width: 50vw;
    white-space: pre-wrap;
}

.comment {
    display: flex;
    flex-wrap: wrap;
    margin: var(--medium-gap);
}

.comment div {
    display: flex;
    flex-direction: column;
}

.comment-content {
    flex-basis: 100%;
}

.commenter-picture {
    height: 7rem;
    width: 7rem;
}

#comment-form {
    display: flex;
    flex-direction: column;
    margin: var(--medium-gap);
}

.post-details {
    display: flex;
    flex-direction: column;
    gap: var(--small-gap);
}

.tag-list {
    list-style-type: none;
}

.view-container {
    align-items: center;
    display: flex;
    gap: var(--gap);
    height: 100vh;
    justify-content: center;
    padding: var(--medium-gap);
}

@media (max-width: 768px) {
    .view-container {
        flex-direction: column;
    }
}

.view-container audio,
.view-container img,
.view-container video {
    height: 100vh;
    overflow: hidden;
    object-fit: contain;
    width: 100vw;
}
